.Amount_row{
    padding-top: 28px;
}


.text-center{
    text-align: center;
}


.product-row{
    padding: 0;
}

.orderlist-container {
    margin-top: 6%;
    max-height: 60vh;
    overflow-y: scroll;
    
}

.main-container{
    overflow-x: hidden;

}

.new-order-launch{
    max-width: 49vw;
    margin-left: 25vw;
    margin-top: 1%;
}

@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }