.Amount_row{
    padding-top: 28px;
}


.text-center{
    text-align: center;
}

.text-white{
  color: 'white'
}



.product-row{
  margin-left: 10%;
  padding: 0;
  margin-top: 5%;
}

.order-list-header{
 
  border: 2px solid #a5a4a4;
  margin-top: 1%;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 8px 8px 0px 0px;
}

.order-list-table-header{

  font-weight: bolder;
  font-size: 30px
 
}

.orderlist-container {
  margin-top: 0%;
  max-height: 70vh;
  overflow-y: auto;
  border: 2px solid #a5a4a4;
  border-top: none;
  padding-top: 1%;
    
}
.add-order-buton{
  margin-left: 39%;
  margin-top: 4%;
}
.editable-order-table-thead{
  background: #21252938;
  font-size: 20px;
  font-weight: bolder;
}

.editable-order-item-lis-label{
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  margin-top: 0px;
  background: #27262626;
  border: 1px solid #00000021;
  border-radius: 5px;
}

.main-container{
  overflow-x: hidden;
  height: 100vh;

}

.new-order-launch{
  max-width: 64vw;
  margin-left: 18vw;
  margin-top: 1%;
}

.login-container{
  height: 100vh;
  width: 100vw;
  background-image: url(../images/login-background.jpg);
  background-size: cover;
  position: fixed;
}

.login {
  width: 18%;
  padding: 30px 25px;
  background: #ffffff85;
  border: 1px solid #c4c4c4;
  margin-top: 10%;
  margin-left: 40vw;
}

h1.login-title {
  margin: -28px -25px 25px;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
  color: #ADADAD;
  text-align: center;
  background: #3c3c3c;
  
}

.login-input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
  }
.login-button {
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #f0776c;
  border: 0;
  border-radius: 5px;
  cursor: pointer; 
  outline:0;
}

.login-lost
{
  text-align:center;
  margin-bottom:0px;
}

.login-lost a
{
  color:#666;
  text-decoration:none;
  font-size:13px;
}


